<footer class="krypton-footer">
    <div class="container">
        <!-- Logo -->
        <div class="footer-logo">
            <a href="#">
                <img class="logo-footer" src="/img/fn-logo/logo.png" alt="logo-mstech" style="height: 160px; max-width:100% ">
                <div class="brand-subtitle">É sobre modernidade em tecnologias financeiras</div>
            </a>
        </div>
        

        </div>
        <a 
        href="https://goo.gl/maps/bDKghLbwjoY6cchS6"
         class="location-link">
         São Paulo/SP, na Rua Teodoro Sampaio, nº 399, conjunto 15, Pinheiros – CEP: 05405-000</a>
        <br>
        <!-- Made by -->
        <a href="https://www.notalegal.df.gov.br/politica_de_privacidade.cfm" target="_blank">
            Termos de uso e privacidade do Conta Legal
        </a>
    </div>

</footer>