<!-- Static navbar -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Cabin&display=swap" rel="stylesheet">
<link rel="stylesheet" href="./globalstyles.css">
<nav x-data="initNavbar()" class="navbar is-light" :class="{
        'is-dark-mobile': mobileOpen,
        '': !mobileOpen
    }">
    <div class="container">
        <!-- Brand -->
        <div class="navbar-brand">
            <a href="index.html" class="navbar-item" >
                <img src="/img/fn-logo/logo.png" class="navbar-item-img" alt="logo" style="width: 50px; height: 80px;">
            </a>
            <!-- Responsive toggle -->
            <div class="navbar-burger" @click="openMobileMenu()">
                <div class="menu-toggle">
                    <span class="icon-box-toggle" :class="{
                            'active': mobileOpen,
                            '': !mobileOpen
                        }">
                        <span class="rotate">
                            <i class="icon-line-top"></i>
                            <i class="icon-line-center"></i>
                            <i class="icon-line-bottom"></i>
                        </span>
                    </span>
                </div>
            </div>
        </div>
        <!-- Menu -->
        <div id="navbarMenu" class="navbar-menu light-menu" :class="{
                'is-active': mobileOpen,
                '': !mobileOpen
            }">
            <div class="navbar-end">
                <div class="dropdown is-active">
                    <div class="navbar-item has-dropdown is-hoverable">
                        <div class="navbar-item is-nav-link">
                            <a href="" class="navbar-link">
                                SOBRE MS TECH
                            </a>
                            <div class="navbar-dropdown">
                                <a style="color: #1c004c" href="https://www.notalegal.df.gov.br/contalegal" class="navbar-item is-centered-responsive">Código de ética e Compliance</a>
                                <a style="color: #1c004c" href="termos.html" class="navbar-item">Termos de uso e privacidade</a>
                                <a style="color: #1c004c" href="" class="navbar-item">Certificações</a>
                                <a style="color: #1c004c" href="" class="navbar-item">Qualidade</a>
                                <a style="color: #1c004c" href="" class="navbar-item">Reonhecimento</a>
                            </div>
                        </div>
                    </div>
                    <!-- Menu item -->
                    <div class="navbar-item is-nav-link">
                        <a class="is-centered-responsive" href="produtos.html">Produtos</a>
                    </div>
                    <!-- Menu item -->
                    <div class="navbar-item is-nav-link">
                        <a class="is-centered-responsive" href="roadmap.html">Consultoria e serviços</a>
                    </div>
                    <!-- Menu item -->
                    <div class="navbar-item is-nav-link">
                        <a class="is-centered-responsive" href="ouvidoria.html">Ouvidoria</a>
                    </div>
                    <div class="navbar-item is-nav-link">
                        <a class="is-centered-responsive" href="contato.html">Contato</a>
                    </div>
                    <!-- Menu item -->
                    <!-- Sign up -->
                </div>
            </div>
        </div>
    </div>
</nav>
<!-- /Static navbar -->

