<!-- NAVBAR QUANDO HÁ SCROLL -->
<nav x-data="initNavbar()"  x-on:scroll.window="scroll()" id="navbar-clone" class="navbar is-fixed is-dark" :class="{
        'is-active': scrolled,
        '': !scrolled
    }">
    <div class="container">
        <div class="navbar-brand">
            <a href="index.html" class="navbar-item">
                <img src="/img/fn-logo/logo.png" />
            </a>
            <!-- Responsive toggle -->
            <div class="navbar-burger" @click="openMobileMenu()">
                <div class="menu-toggle">
                    <span class="icon-box-toggle" :class="{
                            'active': mobileOpen,
                            '': !mobileOpen
                        }">
                        <span class="rotate">
                            <i class="icon-line-top"></i>
                            <i class="icon-line-center"></i>
                            <i class="icon-line-bottom"></i>
                        </span>
                    </span>
                </div>
            </div>
        </div>
        <!-- Menu -->
        <div id="cloneNavbarMenu" class="navbar-menu" :class="{
                'is-active': mobileOpen,
                '': !mobileOpen
            }">
            <div class="navbar-end">
                <!-- Menu item -->
                <!-- TODO:anexar os links certos e adequar as outras páginas -->
                <div class="navbar-item is-nav-link">
                    <a class="is-centered-responsive" href="token.html">Sobre MS TECH</a>
                </div>
                <!-- Menu item -->
                <div class="navbar-item is-nav-link">
                    <a class="is-centered-responsive" href="ico.html">Produtos</a>
                </div>
                <!-- Menu item -->
                <div class="navbar-item is-nav-link">
                    <a class="is-centered-responsive" href="roadmap.html">Consultoria e serviços</a>
                </div>
                <!-- Menu item -->
                <div class="navbar-item is-nav-link">
                    <a class="is-centered-responsive" href="blog.html">Ouvidoria</a>
                </div>
                <div class="navbar-item is-nav-link">
                    <a class="is-centered-responsive" href="#">Tire suas dúvidas</a>
                </div> 
                </div>
        </div>
    </div>
</nav>
<!-- /Cloned navbar -->